.slidecontainer {
  /* width: 95%; /* Width of the outside container */ */
  /* margin: atuto; */
}

@media all and (min-width: 1366px) {
  .slidecontainer {
    max-width: 90%; /* Width of the outside container */
    margin: auto;
  }
}

/* .container {
  width: 100%;
} */

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 75%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.column {
  float: left;
  text-align: center;
}

.side {
  width: 20%;
  font-size: 13px;
}

.middle {
  width: 60%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.feature_end{
  font-size: 11px;
}



#title{
  font-size: 15px;
  text-align: center;
  margin: 10px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 75vw;
}

button {
  margin: auto;
  text-align: center;
}
