<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DATA TERMINAL</title>
    {% load static %}
  </head>
  <body>
    Thanku!
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        {% for path, file in paths_files %}
          <p><a href="{% static path  %}" download> {{ file }} </a></p>
          <!-- <a href="{% static 'ipa_1_2/media/images/Subject-1-Data.xlsx' %}" download> Download File</a> -->
        {% endfor %}
      {% else %}
        Must have premission
      {% endif %}
    {% else %}
      Must be authenticated
    {% endif %}


    <form id="instructionsForm" class="" method="post">
      {% csrf_token %}
      <input type="hidden" name="form_phase" value="{{ form_phase }}">
      <button class="btn btn-primary btn-lg" id="NextInstructionButton" type="submit" name="button">Next</button>
    </form>
  </body>
</html>
