
.amplitudeDiv {
  margin: auto;
  text-align: center;
  width: 25%;

}

#ampLess{
  display: inline-block;
  margin-bottom: 25%;
}

#amplitudeCanvas{
  display: inline-block;
}

#ampMore{
  display: inline-block;
  margin-bottom: 25%;
}
