<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1, shrink-to-fit=yes">
    <title>IPA 2020</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profilePresntaion/IndexStyle.css' %}">

  <div class="container">
      <div class="jumbotron">

        <h1>Thank you for participating!</h1>

        <p>Concent Form:</p>
        {% for instruction in instructions_list %}
        <p>{{ instruction }}</p>
        {% endfor %}

        <p>By clicking I agree that: </p>

        <form action=""  method="post">
            {% csrf_token %}
          <input type="checkbox" id="ReadCheckbox" name="ReadCheckbox" value="yes">
          <label for="ReadCheckbox">I have read this page</label><br>
          <input type="checkbox" id="18Checkbox" name="18Checkbox" value="yes">
          <label for="18Checkbox">I am over 18 years old</label><br>
          <input type="checkbox" id="freeWillCheckbox" name="freeWillCheckbox" value="yes">
          <label for="freeWillCheckbox">I participate with my free will</label><br>
          <input type="checkbox" id="privacyPolicy" name="privacyPolicy" value="yes">
          <label for="privacyPolicy">I have red the privacy policy and agree to its terms</label><br>

        {% if errors %}

        <div class="errors">
          <br><strong>
          {% for error in errors %}
            {{error}} <br>
            {% endfor %}<strong>
        </div>
        {% endif %}
        {{subject}}
        <br>
        <button class="btn btn-primary btn-lg" type="submit" name="button">Next</button>
        <input type="hidden" name="form_phase" value="{{ form_phase }}">
        </form>
      </div>
    </div>
  </body>
</html>
